In [1]:
## Below I use pickle to bring up the data set I was using for Project 3
import pickle

with open('my_dataset.pickle', 'rb') as data:
    subpro4 = pickle.load(data)

In [3]:
subpro4.head()

,PSU,DEP4,SEX4,TALK4,SEEKIDS4,NKIDS4,COUNTON4,AGE4,MARSTAT4,MONEYBILLS4,...,POMADUM4,MMSECAT4,DEPC4,PERSKIDSC4,RELIGPARTA14,RELIGPARTA24,RELIGPARTA34,RPART_1.0,RPART_2.0,RPART_3.0
ID,,,,,,,,,,,,,,,,,,,,,
10001,281,20.0,1,1.0,2.0,3.0,1.0,77,4.0,3.0,...,0.0,0.0,21.0,67.666667,0.0,1.0,0.0,0,1,0
10002,166,6.0,1,1.0,2.0,4.0,1.0,80,4.0,4.0,...,0.0,0.0,7.0,51.000000,1.0,0.0,0.0,1,0,0
10008,180,5.0,1,1.0,4.0,4.0,1.0,77,4.0,4.0,...,0.0,0.0,6.0,101.000000,0.0,1.0,0.0,0,1,0
10009,151,4.0,0,1.0,2.0,11.0,1.0,78,1.0,2.0,...,0.0,0.0,5.0,19.181818,0.0,1.0,0.0,0,1,0
10015,67,9.0,0,1.0,0.0,1.0,3.0,103,4.0,3.0,...,1.0,1.0,10.0,1.000000,0.0,1.0,0.0,0,1,0